body{
    margin: 0;
}
.container{
    
    height: 150px;
    width: 100%;
    background-color: black;
    color: white;
    line-height: 1.15;
    letter-spacing: 6.5px;
    text-align: center;
    padding-top: 28px;
    font-size: 28px;
    font-family: "Playfair Display", serif;
    transition-delay: .15s;
    transition: 0.7s;
    text-align: center;
    
    

}
.text:hover{
    color:rgba(241, 132, 132) ;
}
.world-text{

    color:white;
    width: 100%;
    height: 19px;
    line-height: 1.5;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 18px;
    
}
hr.new1 {
    margin-top: -2px;
    margin-bottom: 0;
    border-color: rgb(74, 72, 74);
    margin-left: 44px;
    margin-right: 44px;
    width: 1170p;
    border-width: 1px

  }
  .header{
    display: flex;
    direction: row;
    width:98.4%;
    background-color: black;
    height:45px;
    padding-top: 15px;
    padding-left: 20px;
    text-align: center;
    color: white;
   
  }
  
  .home{
    transition-delay: .15s;
    transition: 0.7s;
    cursor: pointer;
    margin-left: 220px;
    margin-right: 60px;
    


  }
  
  

    .home:hover{
        color:rgba(241, 132, 132) ;
      }
      .collection{
        transition-delay: .15s;
        transition: 0.7s;
        cursor: pointer;
        border-width: 0;
        background-color:transparent;
        margin-right: 60px;
        border-color: transparent;
       

    
    
      }
      .collection:hover{
        color:rgba(241, 132, 132) ;
      }
    
        .shop:hover{
            color:rgba(241, 132, 132) ;
          }
          .shop:active{
            color:rgba(241, 132, 132) ;
          }

          .shop{
            transition-delay: .15s;
            transition: 0.7s;
            cursor: pointer;
            cursor: pointer;
            margin-right: 60px;
        
        
          }
          .news:hover{
            color:rgba(241, 132, 132) ;
          }
          .news:active{
            color:rgba(241, 132, 132) ;
          }

          .news{
            transition-delay: .15s;
            transition: 0.7s;
            cursor: pointer;
            margin-right: 60px;
        
        
          }
          .about:hover{
            color:rgba(241, 132, 132) ;
          }
          .about:active{
            color:rgba(241, 132, 132) ;
          }

          .about{
            transition-delay: .15s;
            transition: 0.7s;
            cursor: pointer;
            margin-right: 60px;
        
        
          }
          .contact:hover{
            color:rgba(241, 132, 132) ;
          }
          .contact:active{
            color:rgba(241, 132, 132) ;
          }

          .contact{
            transition-delay: .15s;
            transition: 0.7s;
            cursor: pointer;
            
        
        
          }
          .coffee-cup {
            bottom: 0;
            content: "";
            width: 100%;
            z-index: -3;
            margin-bottom: 0px;
        }
        .kopiko-subtext{
         
          color: #999;
          text-align: center;
          font-family: "Roboto", Sans-serif;
          font-size: 22px;
          font-weight: 400;
          letter-spacing: -0.6px;
          padding-top: 140px;
          padding-left: 105px;
          padding-right: 105px;
          }
        .kopiko-text{
          
          background-color: black;
          height: 100px;
          margin-top: -28px;
        }
       .our-subtext{
         
          color: #999;
          text-align: center;
          font-family: "Roboto", Sans-serif;
          font-size: 22px;
          font-weight: 400;
          letter-spacing: -0.6px;
          padding-top: 140px;



        }
        .our-text{
          
          background-color: black;
          height: 250px;
          margin-top: -28px;
        }  
        .coffee-beans{
         
          
          width: 100%;
          height: auto;
          background-color: black;

        }
        .coffee-img{
          vertical-align: middle;
          display: inline-block;
          padding-left: 200px;
        
          width: 70%;
          
        }
        .footer{
          display: block;
          direction: rows;
          height: 250px;
          width: 100%;
          
          background-color: black;
          gap:120px;
          
          
         

        }
        .fb{
          border-radius: 35px;
          margin-left: 420px;
          margin-top: 100px;
          width: 40px;
          
        }
        
        .icon-footer{
          margin-left: 86px;
          border-radius: 35px;
          width: 40px;
          margin-top: 100px;

          


        }
        .final{
          transition-delay: .15s;
          transition: 0.7s;
          cursor: pointer;
          font-weight: 200px;
          color: white;


        }
        
        .final:hover{
          color:rgba(241, 132, 132) ;
          text-decoration: underline;
        }
            
        .final-footer {
background-color: black;
color: #999;
height: 100px;
margin-top: -25px;
display: block;
direction: rows;
padding-left: 450px;
padding-bottom: 40px;
font-size: small;
        }